{% extends "base.html.twig" %}


{% block body %}

    <h2>{{ weather.city}}</h2>
    <img src="{{ asset('weather/' ~ weather.weather ~'.png') }}">
    <p>Voici la météo du jour à <strong>{{ weather.city }}</strong></p>
    <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
    <p>{{ weather.date }}</p>
    <p>{{ weather.min }}</p>
    <p>{{ weather.max }}</p>
    <a href="{{ path('home') }}">Retour à liste des Villes</a>



{% endblock %}